<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='images/favicon.ico') }}" type="image/x-icon">
    <title>MultiPY | Listar</title>
</head>
<body>
    <div class="container">
        <aside class="sidebar">
            <div class="logo-container">
                <img src="{{ url_for('static', filename='images/1.png') }}" alt="Logo MultiPY" class="logo">
            </div>
            <nav class="menu">
                <ul>
                    <li class="tem-submenu">
                        <a href="#">Produtos</a>
                        <ul class="submenu">
                            <li><a href="{{ url_for('add_product') }}">Adicionar Produto</a></li>
                            <li><a href="{{ url_for('edit_product') }}">Editar Produto</a></li>
                            <li><a href="{{ url_for('del_product') }}">Excluir Produto</a></li>
                            <li><a href="{{ url_for('list_product') }}">Visualizar Produtos</a></li>
                        </ul>
                    </li>
                    <li class="tem-submenu">
                        <a href="#">Clientes</a>
                        <ul class="submenu">
                            <li><a href="{{ url_for('add_client') }}">Adicionar Clientes</a></li>
                            <li><a href="{{ url_for('edit_client') }}">Editar Clientes</a></li>
                            <li><a href="{{ url_for('del_client') }}">Excluir Clientes</a></li>
                            <li><a href="{{ url_for('list_client') }}">Visualizar Clientes</a></li>
                        </ul>
                    </li>
                    <li class="tem-submenu">
                        <a href="#">Vendas</a>
                        <ul class="submenu">
                            <li><a href="{{ url_for('add_sale') }}">Adicionar Vendas</a></li>
                            <li><a href="{{ url_for('search_sale') }}">Buscar Venda</a></li>
                            <li><a href="{{ url_for('list_sale') }}">Visualizar Vendas</a></li>
                        </ul>
                    </li>
                    <li><a href="{{ url_for('relatorios') }}">Relatórios</a></li>
                    <li><a href="{{ url_for('sobre') }}">Sobre</a></li>
                    <li><a href="mailto:guilhermeantunes201008@gmail.com?subject=Suporte%20no%20sistema%20MultiPY">Contato</a></li>
                    <li><a href="{{ url_for('login') }}">Sair</a></li>
                </ul>
            </nav>
        </aside>
        <main class="content">
            <h1>Bem-vindo(a) ao MultiPY</h1>
            <div class="list">
            <table>
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Cliente</th>
                        <th>Produto</th>
                        <th>Quantidade</th>
                        <th>Valor Total</th>
                        <th>Data da Venda</th>
                    </tr>
                </thead>
                <tbody>
            {% for venda in vendas %}
            <tr>
                <td>{{ venda[0] }}</td>
                <td>{{ venda[1] }}</td>
                <td>{{ venda[2] }}</td>
                <td>{{ venda[3] }}</td>
                <td>{{ venda[5] }}</td>
                <td>{{ venda[4] }}</td>
            </tr>
            {% endfor %}
                </tbody>
            </table>
            </div>
        </main>
    </div>
        
</body>
</html>



