<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>MultiPY | Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='images/favicon.ico') }}" type="image/x-icon">
</head>
<body>
    <div class="login">
        <img src="{{ url_for('static', filename='images/m.png') }}" alt="Logo"/>
        <h3>Transformando a sua <span>loja</span>, em um negócio de <span>sucesso</span>.</h3>
        <br>
        <form method="post">
            <label for="usuario">Usuário</label>
            <br>
            <input type="text" name="usuario" placeholder="Usuário" required><br>
            <label for="senha">Senha</label>
            <br>
            <input type="password" name="senha" placeholder="Senha" required><br>
            <button type="submit">Entrar</button>
        </form>
    </div>
</body>
</html>
